
#usmap {
    position: relative;
    width: 100%;
    height: auto;
    }

#usmap svg {
    position: absolute;
    background-color: #00436f;

}

.state {
  
  stroke: #fff;
  stroke-width: 0.5px;
}


.tooltip {
  background-color:lightskyblue;
  border: 2px,solid,black;
  border-radius:5px;
  padding:5px;
  position: absolute;
}