
#usmap {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    }

#usmap svg {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #00436f;

}

.state {
  
  stroke: #fff;
  stroke-width: 0.5px;
}


.tooltip {
  background-color:lightskyblue;
  border: 2px,solid,black;
  border-radius:5px;
  padding:5px;
  position: absolute;

}

h1{
  color: black; 
  font-family: copperplate; 
  text-align: center;
}

h2{
  top: 30px;
  font-size: 1em;
}

/* style slider */
#sliderContainer {
  text-align: center;
  position: static;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */

#CaseButtonContainer {
  display: flex; 
  justify-content: center;
}

#RaceButtonContainer {
  display: flex;
  justify-content: center;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  display: table;
  width: 10%;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  display: table;
  background-color: #666;
  color: white;
  width: 10%;
}